@import '/src/scss/base/general.scss';
@import '/src/scss/base/reset.scss';
@import '/src/scss/base/vars.scss';


@import '/src/scss/components/header.scss';
body{
    background: yellow;
}
.login title{
    font-size: 75px;
    color: red;
}