.screen {
  &__contact-form {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 5;
    width: 60vw;
    max-width: 740px;
    padding: 80px 120px 89px;
    background: var(--white-color);
  }

  &__input-wrapper {
    position: relative;
  }

  &__input {
    width: 100%;
    margin-bottom: 17px;
    padding: 20px 10px 22px 0;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    outline: none;
    font-size: 18px;
  }

  &__input::placeholder {
    opacity: 1;
    font-size: 18px;
    color: #000;
  }

  @include respond-to($xl-LapTop) {
    &__contact-form {
      width: 45vw;
      height: 20vw;
      padding: 2vw 3vw;
    }

    &__input {
      margin-bottom: 1vw;
      padding: 1vw 1vw 1vw 0;
      font-size: 1.4vw;
    }
  }

  @include respond-to($xl-tablet) {
    &__contact-form {
      position: static;
      width: 100%;
      height: auto;
      padding: 85px 120px 89px;
    }

    &__input {
      margin-bottom: 17px;
      padding: 24px 10px 22px 0;
      font-size: 18px;
    }
  }

  @include respond-to($m-tablet) {
    &__contact-form {
      padding: 33px 41px 55px 42px;
    }

    &__input {
      margin-bottom: 17px;
      padding: 24px 10px 22px 0;
      font-size: 14px;
    }

    &__input::placeholder {
      font-size: 14px;
    }
  }

  @include respond-to($s-mobile) {
    &__input {
      margin-bottom: 7px;
      padding: 14px 10px 8px 0;
    }
  }
}
