.pagination {
  @extend %position-abs;
  top: 35%;
  right: 5%;
  z-index: 5;
  transform: translateX(-50%);

  @include respond-to($xl-tablet) {
    display: none;
  }
}

.pagination .point {
  @extend %position-rel;
  cursor: pointer;
  display: block;
  width: 30px;
  height: 30px;
  margin-bottom: 7px;
  border-radius: 50%;
}

.point.disabled {
  cursor: not-allowed;
  pointer-events: none;
  color: var(--gray-color);
  text-decoration: none;
}

.pagination .point::after {
  @extend %position-abs;
  content: '';
  opacity: 0.3;
  top: 50%;
  left: 50%;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: var(--white-color);
  transform: translate(-50%, -50%);
}

.point-active {
  @extend %position-rel;
  opacity: 1;
}

.point-active::after {
  opacity: 1 !important;
  background: var(--yellow-gold-color) !important;
}

.point-active::before {
  @extend %position-abs;
  content: '';
  opacity: 0.3;
  top: 50%;
  left: 50%;
  width: 25px;
  height: 25px;
  border: 1px solid var(--white-color);
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

#fullpage {
  height: 100vh !important;
}

.section {
  align-items: start;
  justify-content: start;
  display: flex;
  height: 100vh;
  font-size: 2rem;

  @include respond-to($xl-tablet) {
    height: auto !important;
  }
}

.fp-watermark {
  display: none !important;
}


@include respond-to($xl-tablet) {
  .fp-is-overflow .fp-overflow.fp-auto-height-responsive,
  .fp-is-overflow .fp-overflow.fp-auto-height,
  .fp-is-overflow > .fp-overflow {
    overflow-y: visible !important;
  }

  .fp-scrollable.fp-responsive .fp-is-overflow.fp-section:not(.fp-auto-height, [data-percentage]),
  .fp-scrollable .fp-section:not(.fp-auto-height, [data-percentage]),
  .fp-scrollable .fp-slide:not(.fp-auto-height, [data-percentage]) {
    min-height: auto !important;
    /* min-height: 100vh; */
    /* min-height: calc(var(--vh, 1vh)* 100); */
  }
}
