.slide-three {
  width: 100%;
  height: 100vh;
  background: var(--gray-color);

  .fp-overflow {
    width: 100% !important;
    max-height: 100vh;
  }

  .fp-overflow:hover {
    width: 100% !important;
    max-height: 100vh;
  }

  &__inner {
    top: 0;
    margin-left: 0;
    padding-bottom: 0;
  }

  &__photo-gallery {
    overflow: hidden;
    justify-content: space-between;
    display: flex;
  }

  &__photo {
    overflow: hidden;
    cursor: pointer;
    position: relative;
    width: 50%;
    width: 75vh;
    height: 100vh;
    transition: width 0.8s ease;
  }

  &__photo::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    z-index: 5;
    width: 2px;
    height: 100%;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.45) 52.28%,
      rgba(255, 255, 255, 0) 100%
    );
    transition: height 0.8s;
  }

  &__photo::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
  }

  &__full-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__first-full-image {
    object-position: left;
  }

  &__third-full-image {
    object-position: right;
  }

  &__photo:hover {
    width: 130%;

    .slide-three__title {
      position: relative;
      color: var(--yellow-gold-color);
    }

    .slide-three__title::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 100%;
      width: 87px;
      height: 174px;
      border-radius: 0 174px 174px 0;
      border-top: 1px solid var(--white-color);
      border-bottom: 1px solid var(--white-color);
      border-right: 1px solid var(--white-color);
      transform: translate(-50%, -50%);
    }

    .slide-three__content-block {
      opacity: 1;
      display: block;
    }
  }

  &__content-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    align-items: center;
    z-index: 1;
    display: flex;
    transform: translate(-50%, -50%);
  }

  &__title {
    font-size: 36px;
    line-height: 43px;
    text-transform: uppercase;
  }

  &__content-block {
    opacity: 0;
    display: none;
    width: 479px;
    margin-left: 120px;
    transition: opacity 0.5s ease;
  }

  &__content-text {
    margin-bottom: 35px;
    font-size: 18px;
    line-height: 30px;
    font-weight: 600;
  }

  &__content-f-btn,
  &__content-s-btn {
    align-items: center;
    display: flex;
    letter-spacing: 5px;
    text-transform: uppercase;
    transition: transform 0.3s ease;

    img {
      margin-left: 25px;
    }
  }

  &__content-f-btn:hover,
  &__content-s-btn:hover {
    transform: translateX(10px);
  }

  &__content-f-btn {
    margin-bottom: 69px;
    font-size: 20px;
    line-height: 27px;
    font-weight: 600;
    color: var(--yellow-gold-color);
  }

  &__content-s-btn {
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
  }

  @include respond-to($xl-LapTop) {
    &__content-block {
      max-width: 349px;
      margin-left: 80px;
    }
  }

  @include respond-to($l-desktop) {
    &__title {
      font-size: 26px;
      line-height: 33px;
    }

    &__content-block {
      max-width: 279px;
      margin-left: 70px;
    }

    &__photo::after {
      height: 100%;
    }

    &__content-text {
      margin-bottom: 25px;
      font-size: 16px;
      line-height: 25px;
    }

    &__content-f-btn {
      margin-bottom: 49px;
      font-size: 18px;
      line-height: 20px;
    }

    &__content-s-btn {
      font-size: 13px;
    }

    &__photo:hover {
      width: 220%;

      .slide-three__title::after {
        width: 50px;
        height: 100px;
        border-radius: 0 100px 100px 0;
      }
    }
  }

  @include respond-to($xl-tablet) {
    height: auto;

    &__inner {
      margin-top: 0;
    }

    &__photo::before {
      top: auto;
      right: 0;
      bottom: -1px;
      z-index: 5;
      width: 100%;
      height: 2px;
      background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.45) 52.28%,
        rgba(255, 255, 255, 0) 100%
      );
      transition: height 0.8s;
    }

    &__photo-gallery {
      flex-direction: column;
    }

    &__photo {
      width: 100%;
      height: 18.1vh;
      transition: height 0.8s ease;
    }

    &__full-image,
    &__first-full-image,
    &__third-full-image {
      object-position: top;
    }

    &__photo:hover {
      width: 100%;
      height: 35vh;

      .slide-three__title::after {
        top: 140%;
        left: 50%;
        width: 174px;
        height: 87px;
        border-radius: 0 0 174px 174px;
        border-top: 1px solid transparent;
        border-bottom: 1px solid var(--white-color);
        border-right: 1px solid var(--white-color);
        border-left: 1px solid var(--white-color);
      }
    }

    &__title {
      font-size: 36px;
      line-height: 42px;
      text-align: center;
    }

    &__content-block {
      max-width: 550px;
      margin-left: 0;
    }

    &__content-text {
      margin-top: 100px;
      margin-bottom: 72px;
      font-size: 16px;
      line-height: 24px;
      text-align: center;
    }

    &__content-f-btn {
      justify-content: center;
      margin-bottom: 0;
      font-size: 20px;
      line-height: 27px;
    }

    &__content-s-btn {
      display: none;
    }

    &__content-wrapper {
      display: block;
    }
  }

  @include respond-to($m-mobile) {
    &__full-image {
      height: 220px;
    }

    &__title {
      font-size: 24px;
      line-height: 28px;
    }

    &__content-block {
      max-width: 280px;
      padding-right: 15px;
      padding-left: 15px;
    }

    &__content-text {
      margin-top: 44px;
      margin-bottom: 7px;
      font-size: 16px;
      line-height: 24px;
    }

    &__content-f-btn {
      p {
        display: none;
      }
    }

    &__full-image,
    &__first-full-image,
    &__third-full-image {
      object-position: center;
    }

    &__photo {
      width: 100%;
      height: 20vh;
      transition: height 0.8s ease;
    }

    &__photo:hover {
      width: 100%;
      height: 35vh;

      .slide-three__full-image {
        height: 360px;
      }

      .slide-three__title::after {
        width: 130px;
        height: 65px;
        border-radius: 0 0 130px 130px;
      }
    }
  }

  @include respond-to($mobile) {
    &__photo {
      width: 100%;
      height: 20vh;
      transition: height 0.8s ease;
    }

    &__photo:hover {
      width: 100%;
      height: 29vh;

      .slide-three__full-image {
        height: 360px;
      }

      .slide-three__title::after {
        width: 130px;
        height: 65px;
        border-radius: 0 0 130px 130px;
      }
    }
  }
}
