.slide-four {
  justify-content: start !important;
  width: 100%;
  height: 100vh;

  &__inner {
    top: 0;
    margin: 13.5% 14.5% 0 13%;
  }

  &__title {
    max-width: 456px;
    margin-left: 17%;
    font-size: 22px;
    line-height: 25px;
    letter-spacing: 6px;
    font-weight: 500;
    color: var(--white-color);
    text-transform: initial;
  }

  &__content-wrapper {
    align-items: center;
    display: flex;
  }

  &__circle-wrapper {
    @extend %position-rel;
  }

  &__circle {
    @extend %position-rel;
    @extend %display-center;
    width: 235px;
    height: 235px;
    border: 2px solid var(--yellow-gold-color);
    border-radius: 50%;
    border-top-color: rgba(255, 255, 255, 0.4);
    border-bottom-color: rgba(255, 255, 255, 0.4);
    border-left-color: rgba(255, 255, 255, 0.4);
    font-family: 'Bruno Ace', sans-serif;
    font-size: 64px;
    font-weight: 400;
    color: var(--white-color);
    transform: rotate(-45deg);
    transition:
      border-bottom-color 0.5s ease,
      border-left-color 0.5s ease;
  }

  &__circle-vip {
    border-bottom-color: var(--yellow-gold-color);
  }

  &__circle-extra {
    border-bottom-color: var(--yellow-gold-color);
    border-left-color: var(--yellow-gold-color);
  }

  &__circle::before {
    content: attr(data-number);
    transform: rotate(45deg);
  }

  &__circle::after {
    @extend %position-abs;
    content: '';
    top: 13%;
    right: 12%;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: var(--yellow-gold-color);
  }

  &__metr {
    margin-bottom: 5px;
    margin-left: 10px;
    font-size: 24px;
    text-align: center;
  }

  &__point {
    @extend %position-abs;
    top: 83%;
    right: 12%;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: var(--yellow-gold-color);
    transition: transform 0.3s ease;
  }

  &__info-btn {
    display: none;
  }

  &__point::after {
    @extend %position-abs;
    content: '';
    top: 50%;
    right: -160%;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(255, 172, 48, 0.5);
    border-radius: 50%;
    transform: translate(-50%, -50%);
  }

  &__point::before {
    @extend %position-abs;
    content: '';
    top: 50%;
    right: -270%;
    width: 46px;
    height: 46px;
    border: 1px solid rgba(255, 172, 48, 0.5);
    border-radius: 50%;
    transform: translate(-50%, -50%);
  }

  &__circle-wrapper-vip {
    .slide-four__point {
      top: 82%;
      right: 83%;
    }
  }

  &__circle-wrapper-extra {
    .slide-four__point {
      top: 13%;
      right: 83.5%;
    }
  }

  &__style-list {
    display: flex;
    gap: 20px;
    margin-left: 65px;
  }

  &__style-item {
    cursor: pointer;
    width: 140px;
    text-align: center;
  }

  &__style-text {
    font-size: 28px;
    line-height: 33px;
    text-transform: uppercase;
    transition: opacity 0.3s ease;
  }

  &__style-point,
  &__style-point-f {
    @extend %position-rel;
    width: 8px;
    height: 8px;
    margin-top: 36px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 50%;
    background: var(--white-color);
  }

  &__style-point::after {
    @extend %position-abs;
    content: '';
    top: 50%;
    right: 35px;
    width: 100px;
    height: 1px;
    background: var(--white-color);
  }

  &__style-point-f::after {
    @extend %position-abs;
    content: '';
    top: 50%;
    right: 35px;
    width: 80px;
    height: 1px;
    background: var(--white-color);
  }

  &__style-item:hover {
    .slide-four__style-text {
      opacity: 0.6;
      color: var(--yellow-gold-color);
    }

    .contact-form {
      display: none;
    }

    .slide-four__style-point::before,
    .slide-four__style-point-f::before {
      @extend %position-abs;
      content: '';
      opacity: 0.6;
      top: 50%;
      right: -450%;
      width: 40px;
      height: 40px;
      border: 1px solid var(--yellow-gold-color);
      border-radius: 50%;
      transform: translate(-50%, -50%);
    }

    .slide-four__style-point,
    .slide-four__style-point-f,
    .slide-four__style-point::after,
    .slide-four__style-point-f::after {
      background: var(--yellow-gold-color);
    }
  }

  .slide-four__style-point,
  .slide-four__style-point-f,
  .slide-four__style-point::after,
  .slide-four__style-point-f::after {
    transition: background 0.3s ease;
  }

  &__style-item.active {
    .slide-four__style-text {
      color: var(--yellow-gold-color);
    }

    .slide-four__style-point::before,
    .slide-four__style-point-f::before {
      @extend %position-abs;
      content: '';
      top: 50%;
      right: -450%;
      width: 40px;
      height: 40px;
      border: 1px solid var(--yellow-gold-color);
      border-radius: 50%;
      transform: translate(-50%, -50%);
    }

    .slide-four__style-point,
    .slide-four__style-point-f,
    .slide-four__style-point::after,
    .slide-four__style-point-f::after {
      background: var(--yellow-gold-color);
    }
  }

  .slide-four__style-item:hover + .first-screen__contact-form {
    display: none;
  }

  &__total-wrapper {
    @extend %position-rel;
    align-items: center;
    display: flex;
  }

  &__arrow-wrapper {
    @extend %position-abs;
    bottom: -35px;
    left: -30px;
    width: 100px;
    height: 1px;
    background: var(--white-color);

    img {
      @extend %position-abs;
      bottom: -15px;
      left: 130px;
    }
  }

  &__total-number {
    @extend %position-abs;
    top: 0;
    left: 140px;
    display: flex;
    width: 450px;
    font-size: 64px;
    line-height: 70px;
    transition: opacity 0.5s ease;

    span {
      margin-left: 15px;
      font-size: 24px;
    }
  }

  &__info-title {
    @extend %position-rel;
    padding-bottom: 26px;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 1px;
    color: rgba(51, 51, 51, 1);
  }

  &__info-title::after {
    @extend %position-abs;
    content: '';
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: rgba(0, 0, 0, 0.15);
  }

  &__text {
    margin-top: 31px;
    font-size: 16px;
    line-height: 30px;
    color: rgba(51, 51, 51, 1);
  }

  &__total-number-vip,
  &__total-number-extra {
    opacity: 0;
  }

  .secondary__contact-form {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
  }

  &__info-elite,
  &__info-vip,
  &__info-extra {
    opacity: 1;
    z-index: 10;
    transition: opacity 0.5s ease-in-out;
  }

  &__circle-wrapper-vip,
  &__circle-wrapper-extra {
    opacity: 1;
    display: none;
    animation: fadeIn 2s ease forwards;
  }

  @include respond-to($xl-LapTop) {
    .slide-four {
      &__arrow-wrapper {
        img {
          display: none;
        }
      }

      &__total-number {
        top: 85px;
        margin: 0px -569px;
      }

      &__info-title {
        padding-bottom: 2vh;
        font-size: 2vw;
      }

      &__text {
        margin-top: 2vh;
        font-size: 1.2vw;
      }
    }
  }

  @include respond-to($l-desktop) {
    .slide-four {
      &__inner {
        margin: 13.5% 0 0;
      }

      .slide-four__info-elite,
      .slide-four__info-vip,
      .slide-four__info-extra {
        z-index: 2;
        display: none !important;
      }

      &__contact-form {
        display: none;
      }

      &__content-wrapper {
        display: block;
      }

      &__title {
        margin-right: auto;
        margin-left: auto;
        text-align: center;
      }

      &__total-number {
        top: 80px;
        left: 50%;
        margin: 0 auto;
        justify-content: center;
        transform: translate(-50%, -50%);
      }

      &__circle {
        width: 180px;
        height: 180px;
        margin-right: auto;
        margin-left: auto;
        font-size: 40px;
      }

      &__info-btn {
        display: block;
        margin-bottom: 4px;
        margin-right: auto;
        margin-left: auto;
      }

      &__style-list {
        justify-content: center;
        margin-top: 25px;
        margin-left: 0;
      }

      &__arrow-wrapper {
        right: 19%;
        bottom: 3px;
        left: auto;
      }
    }
  }

  @include respond-to($xl-tablet) {
    .slide-four {
      height: 100%;

      &__bg {
        height: 720px;
        object-fit: cover;
        object-position: center;
      }

      &__bg-overlay {
        height: 720px;
      }

      &__content-wrapper {
        padding-bottom: 162px;
      }

      &__total-number {
        top: 85px;
        justify-content: center;
      }

      &__circle {
        width: 235px;
        height: 235px;
        margin-right: auto;
        margin-left: auto;
        font-size: 64px;
      }

      &__contact-form {
        display: block;
      }

      &__inner {
        margin: 0;
        padding-top: 60px;
        padding-bottom: 0;
      }

      &__circle-wrapper {
        margin-top: 30px;
      }

      &__style-list {
        margin-top: 31px;
      }

      &__total-number {
        top: 85px;
        justify-content: center;
      }

      &__style-item-extra {
        position: relative;
      }

      &__style-item-extra::before {
        content: '';
        position: absolute;
        right: -45px;
        bottom: 3px;
        width: 80px;
        height: 1px;
        background: rgb(255, 255, 255);
      }

      &__style-item:hover {
        .slide-four__style-text {
          opacity: 1;
        }

        .slide-four__style-item-extra::before {
          background: var(--yellow-gold-color);
        }

        .slide-four__style-point::before,
        .slide-four__style-point-f::before {
          opacity: 1;
        }
      }

      &__arrow-wrapper {
        display: none;
      }
    }
  }

  @include respond-to($l-mobile) {
    .slide-four {
      &__title {
        font-size: 14px;
        font-weight: 700;
      }

      &__circle {
        width: 180px;
        height: 180px;
        font-size: 40px;
      }

      &__style-text {
        font-size: 14px;
        line-height: 17px;
      }

      &__style-point::after {
        right: 25px;
        width: 55px;
      }

      &__style-item {
        width: 77px;
      }

      &__style-point-f::after {
        width: 44px;
      }

      &__style-item-extra::before {
        width: 44px;
      }

      &__total-number {
        width: 240px;
        font-size: 30px;
      }

      &__bg,
      &__bg-overlay {
        height: 670px;
      }

      &__content-wrapper {
        padding-bottom: 155px;
      }

      &__style-list {
        gap: 15px;
      }
    }
  }

  @include respond-to($s-mobile) {
    .slide-four {
      &__style-list {
        gap: 5px;
      }

      &__style-point::after {
        right: 30px;
        width: 45px;
      }

      &__style-point-f::after {
        right: 30px;
        width: 34px;
      }

      &__style-item-extra::before {
        width: 34px;
      }

      &__style-item {
        width: 80px;
      }

      &__style-item-extra::before {
        right: -30px;
      }
    }
  }
}
