%display-center {
  //  @extend %display-center;
  align-items: center;
  justify-content: center;
  display: flex;
}

%display-jc-sb {
  //  @extend %display-jc-sb ;
  align-items: center;
  justify-content: space-between;
  display: flex;
}

%display-flex {
  //  @extend %display-flex;
  align-items: center;
  display: flex;
}

%display-start {
  //  @extend %display-start;
  align-items: center;
  justify-content: start;
  display: flex;
}

%display-end {
  //  @extend %display-end ;
  align-items: center;
  justify-content: end;
  display: flex;
}

%position-rel {
  //  @extend %position-rel;
  position: relative;
}

%position-abs {
  //  @extend %position-abs;
  position: absolute;
}

%position-fix {
  //  @extend %position-abs;
  position: fixed;
}