@font-face {
  font-family: 'Bruno Ace';
  src:
    url('/assets/fonts/BrunoAce-Regular.woff2') format('woff2'),
    url('/assets/fonts/BrunoAce-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bruno Ace SC';
  src:
    url('/assets/fonts/BrunoAceSC-Regular.woff2') format('woff2'),
    url('/assets/fonts/BrunoAceSC-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src:
    url('/assets/fonts/OpenSans-Light.woff2') format('woff2'),
    url('/assets/fonts/OpenSans-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src:
    url('/assets/fonts/OpenSans-Regular.woff2') format('woff2'),
    url('/assets/fonts/OpenSans-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src:
    url('/assets/fonts/OpenSans-SemiBold.woff2') format('woff2'),
    url('/assets/fonts/OpenSans-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src:
    url('/assets/fonts/OpenSans-Bold.woff2') format('woff2'),
    url('/assets/fonts/OpenSans-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Roboto;
  src:
    url('/assets/fonts/Roboto-Light.woff2') format('woff2'),
    url('/assets/fonts/Roboto-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Roboto;
  src:
    url('/assets/fonts/Roboto-Regular.woff2') format('woff2'),
    url('/assets/fonts/Roboto-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Roboto;
  src:
    url('/assets/fonts/Roboto-Medium.woff2') format('woff2'),
    url('/assets/fonts/Roboto-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Roboto;
  src:
    url('/assets/fonts/Roboto-Bold.woff2') format('woff2'),
    url('/assets/fonts/Roboto-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
