@import '/src/scss/base/vars';
@import '/src/scss/base/fonts';

body,
html {
  margin: 0;
  padding: 0;
  font-family: $font-family-base;
  font-size: $font-size-base;
  font-weight: $font-weight-base;
  color: var(--black-color);
  background: var(--white-color);
  user-select: none;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body.no-scroll {
  overflow: hidden;
}

.main {
  flex: 1;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.container {
  position: relative;
  max-width: $max-width-container;
  margin: 0 auto;
  padding: 0 15px;
}
