$mobile: 376px;
$s-mobile: 425px;
$m-mobile: 560px;
$l-mobile: 630px;
$s-tablet: 695px;
$m-tablet: 730px;
$tablet: 768px;
$xl-tablet: 920px;
$desktop: 992px;
$m-desktop: 1090px;
$l-desktop: 1290px;
$LapTop: 1440px;
$xl-LapTop: 1718px;
$xxl-LapTop: 1800px;

@mixin respond-to($breakpoint) {
  @media only screen and (max-width: $breakpoint) {
    @content;
  }
}

///////приклад використання
/// @include respond-to($xxl-LapTop) { }


// Константы для точек по высоте экрана
$small-height: 480px;
$medium-height: 600px;
$large-height: 768px;
$xl-height: 900px;
$xxl-height: 1080px;
$max-height: 1200px;

// Миксин для адаптации по высоте экрана
@mixin respond-to-height($breakpoint) {
  @media only screen and (max-height: $breakpoint) {
    @content;
  }
}

// Пример использования

// @include respond-to-height($xl-height) {
//   .header {
//     font-size: 1.5rem;
//     padding: 10px;
//   }
// }