html {
  box-sizing: border-box;
}

body {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
}

button {
  cursor: pointer;
  padding: 0;
  border: none;
  background-color: transparent;
}

ul,
ol {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

img {
  display: block;
  // width: 100%;
  max-width: 100%;
  height: auto;
}

html ::-webkit-scrollbar {
  width: 5px; /* Ширина всего элемента навигации */
}

html ::-webkit-scrollbar-track {
  background: var(--dark-gray-color); /* Цвет дорожки */
}

html ::-webkit-scrollbar-thumb {
  border: 1px solid var(--yellow-gold-color); /* Оформление границ бегунка */
  border-radius: 20px; /* Округление бегунка */
  background-color: var(--yellow-gold-color); /* Цвет бегунка */
}
