.icon {
  width: 24px;
  height: 24px;
}

.validation-text-danger {
  font-size: 12px;
  color: red;
}

.form-btn {
  @extend %display-jc-sb;
  width: 100%;
  margin-top: 30px;
  font-size: 20px;
  letter-spacing: 8px;
  font-weight: 600;
  color: var(--yellow-gold-color);
  text-transform: uppercase;
  transition: transform 0.3s ease;

  &:hover {
    transform: translateX(10px);
  }

  @include respond-to($xl-LapTop) {
    margin-top: 10px;
    font-size: 1.2vw;
  }

  @include respond-to($xl-tablet) {
    align-items: center;
    margin-top: 30px;
    font-size: 20px;
  }

  @include respond-to($m-tablet) {
    font-size: 13px;
    letter-spacing: 6px;
  }

  @include respond-to($s-mobile) {
    margin-top: 18px;
    letter-spacing: 3px;
  }
}
