<header class="header">
  <div class="container">
    <div class="container-header">
      <div class="header__wrapper">
        <a href="./" class="header__logo-link">
          <img src="/public/assets/images/icons/logo.svg" alt="logo" class="header__logo" width="68" height="54">
        </a>

        <ul class="header__list">
          <li class="header__item">
            <button id="openHeaderModalBtn" type="button" data-modal-target="headerModal" class="burger-icon"
              aria-label="menu">

              <img src="/public/assets/images/icons/menu-btn.svg" alt="burger" class="header__burger" width="30"
                height="16">
            </button>

            <a href="tel:380971234567" class="header__number header-font">+38 (097) 123 45 67</a>
          </li>

          <li class="header__item">
            <p class="header__request" data-modal-target="orderCall">request for a call</p>

            <div class="header__phone" data-modal-target="orderCall">
              <div class="header__phone-wrapper">
                <svg class="icon icon--phone">
                  <use xlink:href="/assets/sprites/sprite.svg#phone"></use>
                </svg>

              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    
    {{> header-modal}}

    {{> order-call}}

    {{> thanks-popup}}
  </div>
</header>