<div class=" screen__contact-form {{aditionalClass}} ">
	<form class="contact-form contact-form--discuss">
		<div class="screen__input-wrapper">
			<input type="text" name="name" class="screen__input" placeholder="Your name">

			<div class="validation-text-danger"></div>
		</div>

		<div class="screen__input-wrapper">
			<input type="tel" name="phone" class="screen__input" placeholder="Your phone number">

			<div class="validation-text-danger"></div>
		</div>

		<div class="screen-form__btn-wrapper">
			<button type="submit" class="form-btn openModalBtn">
				<span>discuss a project</span>
				
				<img src="/public/assets/images/icons/arrow.svg" alt="arrow" width="100" height="21">
			</button>
		</div>
	</form>
</div>