<div class="left-panel">
	<div class="left-panel__inner">
		<p class="left-panel__text header-font">apartment renovation</p>
		<ul class="left-panel__list">
			<li class="left-panel__item">
				<a href="">
					<svg class="icon icon--facebook left-panel__social">
						<use xlink:href="/assets/sprites/sprite.svg#facebook"></use>
					</svg>
				</a>
			</li>

			<li class="left-panel__item">
				<a href="">
					<svg class="icon icon--instagram left-panel__social">
						<use xlink:href="/assets/sprites/sprite.svg#instagram"></use>
					</svg>
				</a>
			</li>

			<li class="left-panel__item">
				<a href="">
					<svg class="icon icon--telegram left-panel__social">
						<use xlink:href="/assets/sprites/sprite.svg#telegram"></use>
					</svg>
				</a>
			</li>

			<li class="left-panel__item">
				<a href="">
					<svg class="icon icon-youtube left-panel__social">
						<use xlink:href="/assets/sprites/sprite.svg#youtube"></use>
					</svg>
				</a>
			</li>
		</ul>
	</div>
</div>