<div class="pagination">
    <a href="#screenShot1" aria-label="Go to page 1" class="point point-active"></a>
    <a href="#screenShot2" aria-label="Go to page 2" class="point"></a>
    <a href="#screenShot3" aria-label="Go to page 3" class="point"></a>
    <a href="#screenShot4" aria-label="Go to page 4" class="point"></a>
    <a href="#screenShot5" aria-label="Go to page 5" class="point"></a>
    <a href="#screenShot6" aria-label="Go to page 6" class="point"></a>
</div>

<!-- заготовки для всех слайдов  
<section class="section slide-four " data-anchor="screenShot4">Slide 4 Content</section>
<section class="section slide-five" data-anchor="screenShot5">Slide 5 Content</section>
<section class="section slide-six" data-anchor="screenShot6">Slide 6 Content</section> -->