.slide-fifth {
  &__inner {
    top: 28%;
    margin-right: 15%;
    margin-left: 15%;
  }

  &__circle-wrapper {
    opacity: 0;
    position: relative;
    display: none;
    animation: fadeIn 2s ease forwards;

    .forth-screen__circle::after {
      display: none;
    }
  }

  &__circle {
    position: relative;
    align-items: center;
    justify-content: center;
    z-index: 1;
    display: flex;
    width: 235px;
    height: 235px;
    border: 2px solid var(--yellow-gold-color);
    border-radius: 50%;
    border-top-color: rgba(255, 255, 255, 1);
    border-bottom-color: rgba(255, 255, 255, 1);
    border-left-color: rgba(255, 255, 255, 1);
    font-family: 'Bruno Ace', sans-serif;
    font-size: 64px;
    font-weight: 400;
    color: rgb(255, 255, 255);
    transform: rotate(-45deg);
  }

  &__circle::before {
    content: attr(data-number);
    transform: rotate(45deg);
  }

  &__circle-active {
    position: relative;
  }

  &__wrapper {
    position: relative;
    justify-content: space-between;
    display: flex;
    gap: 30px;
    width: 100%;
  }

  &__circle-active::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 235px;
    height: 235px;
    border: 2px solid rgba(255, 255, 255);
    border-radius: 50%;
    border-top-color: transparent;
    border-left-color: transparent;
    transform: rotate(10deg);
  }

  &__circle-active-first::after {
    border-top-color: rgba(255, 255, 255);
    transform: rotate(52deg);
  }

  &__main-point {
    position: absolute;
    top: 8%;
    right: 6%;
    z-index: 3;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    transition: transform 0.3s ease;
  }

  &__main-point::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 4;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: var(--white-color);
    transform: translate(-50%, -50%);
  }

  &__main-point:hover {
    transform: scale(1.3);
  }

  &__main-point-second {
    top: 50%;
    right: -7%;
  }

  &__main-point-third {
    top: 91%;
    right: 30%;
  }

  &__main-point-forth {
    top: 80%;
    right: 76%;
  }

  &__main-point-fifth {
    top: 35%;
    right: 92%;
  }

  &__main-point-sixth {
    top: -7%;
    right: 52%;
  }

  &__info-wrapper {
    align-items: center;
    display: flex;
  }

  &__info-icon {
    margin-right: 58px;
  }

  &__info-title {
    width: 296px;
    margin-right: 49px;
    font-size: 36px;
    line-height: 49px;
    font-weight: 600;
  }

  &__info-text {
    width: 441px;
    margin-left: 78px;
    font-size: 18px;
    line-height: 30px;
    font-weight: 600;
  }

  &__point-first {
    top: 53%;
    right: -3%;
    z-index: 3;
  }

  &__title {
    width: 326px;
    margin-left: 300px;
    text-transform: uppercase;
  }

  &__content-wrapper {
    margin-top: 0;
  }

  &__main-point-active::after {
    z-index: 5;
    width: 14px;
    height: 14px;
    background: var(--yellow-gold-color);
  }

  &__main-point-active {
    width: 30px;
    height: 30px;
    border: 1px solid rgba(255, 172, 48, 0.5);
  }

  &__main-point-active::before {
    content: '';
    position: absolute;
    width: 46px;
    height: 46px;
    border: 1px solid rgba(255, 172, 48, 0.5);
    border-radius: 50%;
    transform: translate(-50%, -50%);
  }

  &__circle-active-first {
    .slide-fifth__main-point-active {
      top: 10%;
    }
  }

  &__main-point-include::after {
    background: var(--yellow-gold-color);
  }

  &__circle-wrapper-third {
    .slide-fifth__circle-active::after {
      border-top-color: transparent;
      transform: rotate(78deg);
    }

    .slide-fifth__main-point-active {
      top: 92%;
      right: 30%;
    }

    .slide-fifth__circle {
      border-bottom-color: var(--yellow-gold-color);
    }
  }

  &__circle-wrapper-forth {
    .slide-fifth__circle-active::after {
      border-top-color: transparent;
      transform: rotate(134deg);
    }

    .slide-fifth__main-point-active {
      top: 82%;
    }

    .slide-fifth__circle {
      border-bottom-color: var(--yellow-gold-color);
      border-left-color: var(--yellow-gold-color);
    }
  }

  &__circle-wrapper-fifth {
    .slide-fifth__circle-active::after {
      border-top-color: transparent;
      border-right-color: transparent;
      transform: rotate(103deg);
    }

    .slide-fifth__main-point-active {
      right: 93%;
    }

    .slide-fifth__circle {
      border-bottom-color: var(--yellow-gold-color);
      border-left-color: var(--yellow-gold-color);
    }
  }

  &__circle-wrapper-sixth {
    .slide-fifth__circle-active::after {
      border-top-color: transparent;
      border-bottom-color: transparent;
      border-right-color: transparent;
      transform: rotate(103deg);
    }

    .slide-fifth__circle {
      border-top-color: var(--yellow-gold-color);
      border-bottom-color: var(--yellow-gold-color);
      border-left-color: var(--yellow-gold-color);
    }
  }

  @include respond-to($xl-LapTop) {
    &__info-text {
      width: 241px;
      margin-left: 38px;
    }

    &__info-title {
      width: 245px;
      margin-right: 19px;
    }
  }

  @include respond-to($l-desktop) {
    &__circle-active::after {
      right: 0;
      bottom: 0;
      width: 180px;
      height: 180px;
      margin: auto;
    }

    &__main-point-first {
      top: 6%;
      right: 3%;
    }

    &__main-point-second {
      top: 47%;
      right: -10%;
    }

    &__main-point-third {
      top: 89%;
      right: 27%;
    }

    &__main-point-forth {
      top: 78%;
      right: 74%;
    }

    &__main-point-fifth {
      top: 33%;
      right: 90%;
    }

    &__main-point-sixth {
      top: -9%;
      right: 51%;
    }

    &__circle-wrapper-first {
      .fifth-screen__main-point-active {
        top: 6%;
        right: 5%;
      }
    }

    &__circle-wrapper-second {
      .fifth-screen__main-point-active {
        right: -9%;
      }
    }

    &__circle-wrapper-third {
      .fifth-screen__main-point-active {
        top: 89%;
        right: 27%;
      }
    }

    &__circle-wrapper-forth {
      .fifth-screen__main-point-active {
        top: 80%;
      }
    }

    &__circle-wrapper-fifth {
      .fifth-screen__main-point-active {
        top: 34%;
        right: 91%;
      }
    }

    &__circle-wrapper-sixth {
      .fifth-screen__main-point-active {
        right: 50%;
      }
    }

    &__wrapper {
      display: block;
    }

    &__title {
      width: 100%;
      margin-bottom: 50px;
      margin-right: auto;
      margin-left: auto;
      text-align: center;
    }

    &__info-arrow {
      display: none;
    }

    &__circle-wrapper::after {
      width: 180px;
      height: 180px;
    }

    &__info-wrapper {
      display: block;
      margin-top: 30px;
      margin-left: 0;
    }

    &__info-icon {
      margin-right: auto;
      margin-left: auto;
    }

    &__info-title {
      width: 100%;
      margin-top: 27px;
      margin-right: 0;
      text-align: center;
    }

    &__info-text {
      width: 100%;
      margin-top: 15px;
      margin-left: 0;
      text-align: center;
    }

    &__circle {
      width: 180px;
      height: 180px;
      margin-right: auto;
      margin-left: auto;
      font-size: 40px;
    }
  }

  @include respond-to($xl-tablet) {
    &__inner {
      top: 0;
      margin-top: 0;
      margin-right: 0;
      margin-left: 0;
      padding-top: 20px;
      padding-bottom: 0;
    }

    &__bg {
      height: 720px;
    }

    &__bg-overlay {
      height: 720px;
    }

    &__form {
      display: none;
    }

    &__content-wrapper {
      padding-bottom: 59px;
    }

    &__contact-form {
      display: none;
    }

    &__circle-active::after {
      width: 235px;
      height: 235px;
    }

    &__circle {
      width: 235px;
      height: 235px;
      margin-right: auto;
      margin-left: auto;
      font-size: 64px;
    }

    &__main-point-first {
      top: 8%;
      right: 6%;
    }

    &__main-point-second {
      top: 50%;
      right: -7%;
    }

    &__main-point-third {
      top: 91%;
      right: 30%;
    }

    &__main-point-forth {
      top: 80%;
      right: 76%;
    }

    &__main-point-fifth {
      top: 35%;
      right: 92%;
    }

    &__main-point-sixth {
      top: -7%;
      right: 52%;
    }

    &__circle-wrapper-first {
      .fifth-screen__main-point-active {
        top: 10%;
      }
    }

    &__circle-wrapper-second {
      .fifth-screen__main-point-active {
        right: -7%;
      }
    }

    &__circle-wrapper-third {
      .fifth-screen__main-point-active {
        top: 92%;
        right: 30%;
      }
    }

    &__circle-wrapper-forth {
      .fifth-screen__main-point-active {
        top: 82%;
      }
    }

    &__circle-wrapper-fifth {
      .fifth-screen__main-point-active {
        right: 93%;
      }
    }
  }

  @include respond-to($l-mobile) {
    &__circle-active::after {
      width: 180px;
      height: 180px;
    }

    &__main-point-first {
      top: 6%;
      right: 3%;
    }

    &__main-point-second {
      top: 47%;
      right: -10%;
    }

    &__main-point-third {
      top: 89%;
      right: 27%;
    }

    &__info-text {
      width: 80%;
      margin-right: auto;
      margin-left: auto;
    }

    &__main-point-forth {
      top: 78%;
      right: 74%;
    }

    &__main-point-fifth {
      top: 33%;
      right: 90%;
    }

    &__main-point-sixth {
      top: -9%;
      right: 51%;
    }

    &__circle-wrapper-first {
      .fifth-screen__main-point-active {
        top: 6%;
        right: 5%;
      }
    }

    &__circle-wrapper-second {
      .fifth-screen__main-point-active {
        right: -9%;
      }
    }

    &__circle-wrapper-third {
      .fifth-screen__main-point-active {
        top: 89%;
        right: 27%;
      }
    }

    &__circle-wrapper-forth {
      .fifth-screen__main-point-active {
        top: 80%;
      }
    }

    &__circle-wrapper-fifth {
      .fifth-screen__main-point-active {
        top: 34%;
        right: 91%;
      }
    }

    &__circle-wrapper-sixth {
      .fifth-screen__main-point-active {
        right: 50%;
      }
    }

    &__content-wrapper {
      padding-bottom: 10px;
    }

    &__circle {
      width: 180px;
      height: 180px;
      font-size: 40px;
    }
  }
}
