.slide-two {
  &__inner {
    // top: 19%;
    left: 11.5%;
    margin: 153px 0 0;
    // height: 90vh;
    margin-left: 0;
    padding-bottom: 0;
  }

  &__subtitle {
    max-width: 563px;
    margin: 0 auto;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 6px;
    font-weight: 700;
    text-align: center;
  }

  &__content-wrapper {
    justify-content: center;
    display: flex;
    margin-top: 5.8vw;

    li {
      @extend %position-rel;
      width: 650px;
      // width: 520px;
      text-align: center;
    }
  }

  &__item:not(:last-child)::after {
    @extend %position-abs;
    content: '';
    top: -30%;
    right: 0;
    width: 2px;
    height: 250px;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.45) 52.28%,
      rgba(255, 255, 255, 0) 100%
    );
    transition: height 0.8s;
  }

  &__number {
    margin-bottom: 18px;
    font-size: 64px;
    line-height: 70px;
  }

  &__text {
    max-width: 230px;
    margin: 0 auto;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
  }

  &__btn {
    @extend %display-flex;
    max-width: 430px;
    margin-top: 21.5vw;
    margin-left: 11.1vw;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 7px;
    font-weight: 600;
    color: var(--white-color);
    text-transform: uppercase;
    transition: transform 0.3s ease;

    img {
      margin-left: 8px;
    }
  }

  &__btn:hover {
    transform: translateX(10px);
  }

  @include respond-to(2125px) {
    &__content-wrapper {
      li {
        width: 570px;
      }
    }
  }

  @include respond-to(1920px) {
    &__content-wrapper {
      li {
        width: 520px;
      }
    }
  }

  @include respond-to($LapTop) {
    &__content-wrapper {
      li {
        width: 350px;
      }
    }
  }

  @include respond-to($xl-LapTop) {
    &__btn {
      margin-top: 11vw;
      margin-left: 15vw;
    }

    &__content-wrapper {
      li {
        width: 420px;
      }
    }
  }

  @include respond-to($LapTop) {
    &__content-wrapper {
      li {
        width: 350px;
      }
    }
  }

  @include respond-to($l-desktop) {
    &__content-wrapper {
      li {
        width: 300px;
      }
    }

    &__subtitle {
      font-size: 18px;
      line-height: 19px;
    }

    &__number {
      margin-bottom: 14px;
      font-size: 44px;
      line-height: 50px;
    }

    &__text {
      max-width: 180px;
      font-size: 20px;
      line-height: 30px;
    }

    &__btn {
      max-width: 380px;
      margin-left: 6vw;
      font-size: 13px;
      letter-spacing: 5px;
    }

    &__item:not(:last-child)::after {
      height: 190px;
    }
  }

  @include respond-to($m-desktop) {
    &__content-wrapper {
      li {
        width: 270px;
      }
    }
  }

  @include respond-to($xl-tablet) {
    height: auto;

    &__contact-form {
      display: none;
    }

    &__inner {
      top: 0;
      left: 7%;
      margin-top: 0;
      padding-top: 16%;
      padding-bottom: 2%;
    }

    &__btn {
      margin-right: auto;
      margin-left: auto;
    }

    &__form {
      display: none;
    }
  }
}

@include respond-to($xl-tablet) {
  .slide-two {
    display: none;

    &__bg {
      display: none;
    }

    &__inner {
      display: none;
    }

    &__form {
      display: none;
    }
  }

  .slide__bg-overlay--hide {
    display: none;
  }
}
