.slide-one {
  justify-content: start !important;

  // &__container {
  //   width: 1020px;
  // }

  &__inner {
    @extend %position-rel;
    z-index: 3;
    margin-top: 19.1%;
    margin-left: 16%;
  }

  &__title {
    font-size: 96px;
    line-height: 90px;
    text-transform: uppercase;
    text-shadow:
      -1px -1px 0 black,
      1px -1px 0 black,
      -1px 1px 0 black,
      1px 1px 0 black;
  }

  &__title--s {
    margin-left: 190px;
  }

  &__subtitle {
    margin-left: 5px;
    font-size: 16px;
    letter-spacing: 8px;
    font-weight: 300;
    text-transform: uppercase;
  }

  @include respond-to($xl-LapTop) {
    .slide-one {
      &__title {
        font-size: 5vw;
      }

      &__title--s {
        margin-left: 12vw;
      }
    }

    @include respond-to-height($xl-height) {
      .slide-one {
        &__inner {
          z-index: 3;
          margin-top: 19.1%;
          margin-left: 16%;
        }
      }
    }

    @include respond-to-height($large-height) {
      .slide-one {
        &__inner {
          z-index: 3;
          margin-top: 12.5%;
          margin-left: 10%;
        }
      }
    }
  }

  @include respond-to($m-desktop) {
    .slide-one {
      &__inner {
        margin-left: 12.5%;
      }
    }

    @include respond-to-height($max-height) {
      .slide-one {
        &__inner {
          z-index: 3;
          margin-top: 37.5%;
          margin-left: 14%;
        }
      }
    }

    @include respond-to-height($large-height) {
      .slide-one {
        &__inner {
          z-index: 3;
          margin-top: 16.5%;
          margin-left: 14%;
        }
      }
    }
  }

  @include respond-to($xl-tablet) {
    .slide-one {
      &__title {
        font-size: 12.5vw;
      }

      &__container {
        width: 100%;
      }

      &__inner {
        top: 0;
        display: block;
        margin-top: 30%;
        margin-left: 5%;
        padding-bottom: 130px;
      }

      &__title--s {
        margin-left: 24vw;
      }
    }
  }

  @include respond-to($m-tablet) {
    .slide-one {
      &__inner {
        padding-bottom: 60px;
      }
    }
  }

  @include respond-to($s-tablet) {
    .slide-one {
      &__inner {
        margin-top: 35%;
      }
    }
  }

  @include respond-to($m-mobile) {
    .slide-one {
      &__inner {
        margin-top: 35%;
        padding-bottom: 90px;
      }
    }
  }

  @include respond-to($s-mobile) {
    .slide-one {
      &__title {
        font-size: 14vw;
        line-height: 50px;
      }

      &__inner {
        margin-top: 55%;
        margin-left: 0%;
        padding-bottom: 175px;
      }
    }
  }
}
