.slide-one {
  justify-content: start !important;

  &__container {
    width: 1020px;
  }

  &__inner {
    @extend %position-rel;
    z-index: 3;
    margin-top: 37%;
    margin-left: 30.5%;
  }

  &__title {
    font-size: 96px;
    line-height: 90px;
    text-transform: uppercase;
    text-shadow:
      -1px -1px 0 black,
      1px -1px 0 black,
      -1px 1px 0 black,
      1px 1px 0 black;
  }

  &__title--s {
    margin-left: 190px;
  }

  &__subtitle {
    margin-left: 5px;
    font-size: 16px;
    letter-spacing: 8px;
    font-weight: 300;
    text-transform: uppercase;
  }

  @include respond-to($xl-LapTop) {
    .slide-one {
      &__title {
        font-size: 5vw;
      }

      &__title--s {
        margin-left: 12vw;
      }
    }
  }

  @include respond-to($m-desktop) {
    .slide-one {
      &__inner {
        margin-left: 12.5%;
      }
    }
  }

  @include respond-to($xl-tablet) {
    .slide-one {
      &__title {
        font-size: 12.5vw;
      }

      &__container {
        width: 100%;
      }

      &__inner {
        top: 0;
        display: block;
        margin-top: 36%;
        margin-left: 5%;
        padding-bottom: 140px;
      }

      &__title--s {
        margin-left: 24vw;
      }
    }
  }

  // @include respond-to($m-tablet) {
  //   .slide-one {
  //     &__inner {
  //       margin-top: 40%;
  //       margin-left: 2%;
  //       padding-bottom: 50px;
  //     }

  //     &__title {
  //       font-size: 10vw;
  //     }

  //     &__title--s {
  //       margin-left: 27vw;
  //     }

  //     &__subtitle {
  //       font-size: 8px;
  //       letter-spacing: 6px;
  //     }
  //   }
  // }

  @include respond-to($s-tablet) {
    .slide-one {
      &__inner {
        margin-top: 48%;
        padding-bottom: 30px;
      }
    }
  }

  @include respond-to($m-mobile) {
    .slide-one {
      &__inner {
        margin-top: 45%;
        padding-bottom: 100px;
      }
    }
  }

  @include respond-to($s-mobile) {
    .slide-one {
      &__title {
        font-size: 14vw;
        line-height: 50px;
      }

      &__inner {
        margin-top: 65%;
        margin-left: 0%;
        padding-bottom: 175px;
      }
    }
  }
}
